[user]
    name = Brock Peabody
    email = brock.peabody@gmail.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
    excludesfile = ~/.gitignore
    eol = native
[alias]
    co = checkout
    com = commit
    st = status
    br = branch
    pull = pull --ff-only
[credential]
	helper = osxkeychain
[submodule]
	recurse = true
