Downloads
.xbmc
trash
Calibre Library
Documents
.CFUserTextEncoding
.Xauthority
.cabal
.svn
.subversion/
.lesshst
.smb/
.fontconfig
.fonts
.ghc
.omake
.pingus
.sh_history
.swp
.viminfo
*.swp
*.swo
*~
.cups
.dvdcss
*.o
*.obj
*.hi
tags
.bash_history
.ssh/known_hosts
.advance/
.sqlite_history
.DownloadManager/
.gitk
.gnupg
temp
.serverauth*
*.aux
*.log
*.pdf
*.out
common_home
repos
.gdb_history
.darcs
bare
run.sh
.DS_Store
.bake
cache/
.ycm_extra_conf.py
.ycm_extra_conf.pyc
.tern-port
*.ingredient
.Trash/
.cache/
.htoprc
.npm/
.rnd
.ssh/git-cred
.ssh/id_rsa
.ssh/toolkit.key
AeroFS
Desktop/
Library/
Movies/
Music/
Pictures/
Public/
__pycache__
*.pyc
.config/
.bash_sessions/
.node-gyp/
.node_repl_history
.ssh
Applications/
WindowsSupport/
video/
